*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(127,255,212,255);
}

/* HEADER */

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90px;
}  

#container_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}  

#logo{
    height: 50px;
}

#logo_name{
    color: rgba(0,21,51,255);
    font-size: 50px;
    font-weight: bold;
}

#play{
    padding: 2px 30px;
    font-size: 15px;
    font-weight: bold;
}

#play:active {
    transform: scale(0.9);
  }




  /* MAIN */

main{
    position: relative;
}

#grid{
    height: 500px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#grid.active{
    display: block;
}

.square{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    float: left;

}





  /* FOOTER */

footer{
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > p{
    padding: 20px;
}
